/****************************************************/
/*                       GTK3                       */
/*                                                  */
/*   ██████╗ ██████╗ ███╗   ██╗███████╗██╗ ██████╗  */
/*  ██╔════╝██╔═══██╗████╗  ██║██╔════╝██║██╔════╝  */
/*  ██║     ██║   ██║██╔██╗ ██║█████╗  ██║██║  ███╗ */
/*  ██║     ██║   ██║██║╚██╗██║██╔══╝  ██║██║   ██║ */
/*  ╚██████╗╚██████╔╝██║ ╚████║██║     ██║╚██████╔╝ */
/*   ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝     ╚═╝ ╚═════╝  */
/*                                                  */
/*                      ~/.config/gtk-3.0/gtk.css   */
/****************************************************/

/* Règles de mise en forme pour accorder les applications gtk3 au tiling windows */

.solid-csd headerbar .title {
	font-size: 0;
}

.titlebar {
	border-radius: 0;
}

.window-frame, .window-frame:backdrop {
	box-shadow: 0 0 0 black;
	border-style: none;
	margin: 0;
	border-radius: 0;
}

window decoration {
	margin: 0;
	border: 0;
}
